<h1>All posts</h1>

<ul class="posts">
  <% @posts.each do |post| %>
    <li>
      <%= link_to gravatar_for(post.user, size: 65), post.user%>
      <span>
        <span class="user"><%= link_to post.user.name, post.user %> </span>
        <span class="timestamp">
          Posted <%= time_ago_in_words(post.created_at)%> ago.
        </span>
      </span>
      <span class="title"><%= link_to post.title, post_path(post.id)%></span>
    </li>
  <% end %>
</ul>
<%= paginate @posts, theme: "twitter-bootstrap-3" %>
