<div class="post-article markdown">
 <% if current_user?(@post.user) %>
    <%= link_to "Edit", edit_post_path(@post) %> /
    <%= link_to "delete", @post, method: :delete,
      data: { confirm: "You sure?" } %>
  <% end %>
  <div>
    <h1><%= @post.title %></h1>
    <span>
      Author: <%= link_to @post.user.name, @post.user%>
      <br/>
      At: <%= @post.created_at.strftime("%H:%M %d/%m/%Y") %>
    </span>
    <hr/>
    <%= markdown @post.content %>
  </div>
</div>
<%= render "comment_form"%>
